a {
  color: #717171;
}

img {
  max-width: 100%;
  height: auto !important;
}

ul li {
  list-style: none;
}

.logOut-button {
  display: flex;
  justify-content: center;
  color: #717171;
  cursor: pointer;
}

.logOut-button:hover {
  color: #ff3c19;
}

.container {
  min-width: 370px !important;
}

/******************* auth css start *******************/

#auth-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.m-auth-wrap {
  flex-direction: column;
}

.auth-form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: row;
}

.auth-Input {
  width: 100% !important;
  max-width: 300px;
}

.auth-input-inner {
  width: 100%;
  margin-bottom: 10px !important;
}

.auth-Submit {
  max-width: 100px;
  height: 120px;
}

.auth-social {
  margin-left: 8px;
}

.auth-social-button {
  width: 129px;
  font-size: 0.7em !important;
  margin-right: 10px !important;
}

.auth-error {
  margin-left: 10px;
  color: red;
  font-size: 0.9em;
}

/******************* auth css end *******************/

/******************* home(main) css start *******************/

.main-gridTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainProfile-box {
  display: flex;
  align-items: center;
}

.mainProfile-name {
  font-size: 1.5em;
  margin-right: 20px;
}

.mainProfile-box span {
  color: #fff;
  border-radius: 50%;
  padding: 10px 15px;
}

.mainprofile-color1 {
  background-color: #3788d8;
}
.mainprofile-color2 {
  background-color: #ff0000;
}
.mainprofile-color3 {
  background-color: #9b9b9b;
}

.fc-toolbar-title {
  font-size: 1.2em !important;
}

.main-chat {
  height: 280px;
  overflow-y: scroll;
}

.main-chat::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background: #fff;
}

.main-chat::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #ced4da;
}

.main-chat::-webkit-scrollbar-thumb:hover {
  background-color: #adb5bd;
}

.main-chat::-webkit-scrollbar-track {
  background: #fff;
}

#mainOffer-form {
  display: flex;
  flex-direction: column;
}

/******************* home(main) css end *******************/



/******************* introduce css start *******************/

.intro-title {
  font-size: 2rem;
  font-family: serif;
  text-align: center;
  margin-bottom: 50px;
}

.ic-img {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.ic-desc {
  display: flex;
  justify-content: center;
  line-height: 1.5;
}

/******************* introduce css end *******************/



/******************* schedule css start *******************/

.scd-title {
  display: flex;
  align-items: center;
  margin-bottom: 10px !important;
}

.scd-h1 {
  margin-bottom: 0px !important;
  margin-right: 10px !important;
}

.cal-input,
.cal-readInput {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.cal-input > div,
.cal-readInput > div {
  margin-bottom: 20px;
}

.cal-submit {
  display: flex;
  justify-content: flex-end;
}

.scdColor {
  color: #fff;
  border-radius: 5px;
  padding: 3px 5px;
  margin-right: 5px;
}

.scdColor-complete {
  background-color: #00de04;
}
.scdColor-ing {
  background-color: #3788d8;
}
.scdColor-stop {
  background-color: #ff0000;
}
.scdColor-rv {
  background-color: #9b9b9b;
}

.cal-datepicker,
.cal-color {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.cal-button {
  margin-bottom: 30px !important;
}

.cal-readtitle {
  display: flex;
  flex-direction: column;
}

.cal-circle {
  width: 240px !important;
}

/******************* schedule css end *******************/

/******************* chatting css start *******************/

.chat-item-wrap {
  width: 100%;
  height: 70vh;
  overflow-y: scroll;
}
.m-chat-item-wrap {
  width: 100%;
  height: 90vh;
  overflow-y: scroll;
}

.chat-item {
  border: 1px solid rgba(40, 44, 52, 0.5);
  border-radius: 10px;
  padding: 10px 20px;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 50%;
  min-width: 200px;
  background-color: #fff;
  margin: 10px 0;
}

.chat-my {
  margin-left: auto;
  background-color: #ffecd5;
  word-break: break-all;
}

.chat-edit-button {
  position: absolute;
  right: 10px;
  top: 10px;
}

.chat-delete {
  cursor: pointer;
}

.chat-edit {
  cursor: pointer;
  margin-left: 5px;
}

.chat-userName {
  font-weight: bold;
}

.chat-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-fav {
  display: flex;
}

.chat-fav svg {
  cursor: pointer;
}

.chat-info > span {
  font-size: 0.7em;
}

#chatForm-file {
  display: none;
}

.chat-Form {
  display: flex;
  justify-content: space-between;
}

.chatForm-fileSet {
  width: 10% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.chatForm-field {
  width: 80% !important;
  cursor: pointer;
}

.chatForm-submit {
  width: 20% !important;
  cursor: pointer;
}

.chatForm-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chatForm-img img {
  border-radius: 10px;
  margin-bottom: 10px;
  width: 50px;
}

.chat-item-wrap::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: #fff;
}

.chat-item-wrap::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #ced4da;
}

.chat-item-wrap::-webkit-scrollbar-thumb:hover {
  background-color: #adb5bd;
}

.chat-item-wrap::-webkit-scrollbar-track {
  background: #fff;
}

/******************* chatting css end *******************/

/******************* profile css start *******************/

.profile-nickname {
  flex-direction: row !important;
  margin-bottom: 30px;
}

.profile-myChat,
.profile-mySchedule {
  margin-bottom: 20px;
}

.mychattable-form {
  display: flex;
  flex-direction: row;
}

.mychattable-form-input {
  width: 80%;
}

.mychattable-form button {
  width: 20%;
}

.chat-edit-form {
  display: flex;
}

.chat-edit-form-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20px;
}

.profile-scdTitle {
  display: flex;
  flex-direction: column;
}

/******************* profile css end *******************/
